<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                                     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductDAO">
<!-- 상품 등록 -->
<insert id="pinsert">
<![CDATA[
	insert into gil_product(idx, filename, ptype, pname, pcontent,  capacity, cost, pcode)
	values(PRODUCT_IDX_SEQUENCE.nextval, #{filename},#{ptype},#{pname},#{pcontent},#{capacity},#{cost}, #{pcode})	
	]]>
</insert>

<!-- 위스키  리스트보기 -->
<select id="whisky" resultType="product">
<![CDATA[
	select idx,filename,pname,capacity,cost 
	from gil_product where ptype='위스키'
	]]>
</select>

<!-- 보드카  리스트보기 -->
<select id="vodka" resultType="product">
	<![CDATA[
	select idx,filename,pname,capacity,cost 
	from gil_product where ptype='보드카'
	]]>
</select>

<!-- 데킬라  리스트보기 -->
<select id="tequila" resultType="product">
	<![CDATA[
	select idx,filename,pname,capacity,cost 
	from gil_product where ptype='데킬라'
	]]>
</select>

<!-- 브랜디  리스트보기 -->
<select id="brandy" resultType="product">
	<![CDATA[
	select idx,filename,pname,capacity,cost 
	from gil_product where ptype='브랜디'
	]]>
</select>

<!-- 진  리스트보기 -->
<select id="gin" resultType="product">
	<![CDATA[
	select idx,filename,pname,capacity,cost 
	from gil_product where ptype='진'
	]]>
</select>

<!-- 리큐르,와인  리스트보기 -->
<select id="lw" resultType="product">
	<![CDATA[
	select idx,filename,pname,capacity,cost 
	from gil_product where ptype='기타주류'
	]]>
</select>

<!-- 상품보기 -->
<select id="selectOne" resultType="product">
	<![CDATA[
	select * from gil_product where idx=#{idx}
	]]>
</select>

<!-- 상품 내용 수정 페이지 -->
<select id="selectForUpdate" resultType="product">
<![CDATA[
select filename from gil_product where idx=#{idx}
]]>
</select>

<!-- 상품 수정하기 -->
<update id="update">
	<![CDATA[
	update gil_product set filename=#{filename}, ptype=#{ptype}, 
	pname=#{pname}, pcontent=#{pcontent},capacity=#{capacity}, cost=#{cost}
	where idx=#{idx}
	]]>
</update>

<!-- 상품 삭제하기 -->
<delete id="delete">
	<![CDATA[
	delete gil_product where idx=#{idx}
	]]>
</delete>

<!-- 상품 검색 -->
<select id="selectSearchProduct" resultType="product">
<![CDATA[
       select * from gil_product where pname like '%'||#{search}||'%' or ptype like '%'||#{search}||'%'
    ]]>
</select>

</mapper>