<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                                     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scrapmapper">
	<!-- 스크랩하기 -->
	<insert id="scrapInsert">
		INSERT  INTO GIL_SCRAP (IDX, ID, PNAME) 
			VALUES ((SELECT NVL(MAX(IDX), 0)+1 FROM GIL_SCRAP),#{id},#{pname})
	</insert>
	<!-- 스크랩목록보기 -->
	<select id="scrapList" resultType="scrap">
		SELECT * 
		FROM GIL_SCRAP
		WHERE ID=#{id}
	</select>
	<!-- 스크랩삭제하기 -->
	<delete id="scrapDelete">
		DELETE 
		FROM GIL_SCRAP
		WHERE IDX = #{idx}
	</delete>
	
</mapper>