@charset "utf-8";


#body{
	font-family:arial;
	margin-top:60px;	
}

#title {
	margin-bottom:0px;
}

#img_edit {
	width:80px;
	height:50px;
}

#t1 {
	font-size:30px;
}

#t2 {
	padding-right:395px;
	font-size:15px;
}

#th1 {
	width:100px;
}

#th2 {
	width:150px;
}

#th3 {
	width:100px;
}

#th4 {
	width:300px;
}

#th5 {
	width:150px;
}

#img_edit {
	width:80px;
	height:50px;
}

table.table_0 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin-bottom:40px;
}


table.table_0 thead th{
  padding: 10px;
  text-align:center;
  font-size:25px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #b8a072 ;
}

table.table_0 tbody td{
  text-align:center;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  background: #f2f2f2;
  padding-top:8px;
  padding-bottom:8px;
}

input[type=submit] {
	border:1px solid black;
	border-radius:5px;
	padding:6px 12px;
	background-color:rgba(0,0,0,0);
	color:black;
	margin-bottom:45px;
}

input[type=submit]:hover {
	background-color:orange;
}

input[type=button] {
	border:1px solid black;
	border-radius:5px;
	padding:3px 6px;
	background-color:rgba(0,0,0,0);
	color:black;
}

input[type=button]:hover {
	background-color:orange;
}