@charset "utf-8";

#title {
	font-family:Serendipity;
	font-size:60px;
	padding-top:90px;
	padding-bottom:30px;
}

#body {
	font-family:arial;
}

table.table_0 {
	font-size:15px;
	border-collapse:spacing;
	border-spacing:0px;
	border:1px solid #524e3c;
}

table.table_0 th{
	border:1px solid #524e3c;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#524e3c;
	color:white;
}

table.table_0 td{
	border:1px solid #524e3c;
}

#th1 {
	width:150px;
}

#th2 {
	
}

#th3 {
	width:50px;
}

#th4 {
	width:100px;
}

#th5 {
	width:50px;
}

input[type=button] {
	padding:3px 6px;
	border:1px solid black;
	border-radius:5px;
}

#bottom_line {
	margin-bottom:90px;
}