@charset "utf-8";

#body{
	font-family:arial;	
}

#title {
	margin-bottom:0px;
}

#t1 {
	font-size:30px;
}

#t2 {
	padding-right:275px;
	font-size:15px;
}

#img_edit {
	width:80px;
	height:50px;
}

table.table_0 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin-top: 60px;
  margin-bottom:15px;
}


table.table_0 thead th{
  padding: 10px;
  width:300px;
  text-align:center;
  font-size:25px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #b8a072 ;
}

table.table_0 tbody th{
  width: 50px;
  padding: 10px;
  text-align:center;
  font-weight: bold;
  vertical-align: top;
  color: black;
  background: #e6e6e6 ;
}

table.table_0 td{
  width: 300px;
  text-align:center;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  background: #f2f2f2;
}

#th_0 {
	width:100px;
}

#th_1 {
	width:100px;
}

#th_2 {
	width:300px;
}

#th_3 {
	width:200px;
}

input[type=text] {
	width:300px;
}

input[type=button] {
	border:1px solid black;
	border-radius:5px;
	padding:6px 12px;
	background-color:rgba(0,0,0,0);
	color:black;
	margin-bottom:150px;
}

input[type=button]:hover {
	background-color:orange;
}