@charset "UTF-8";

#outline {
	padding-top:60px;
}

table.table_0 {
	text-align:left;
	border:1px solid white;
}


#img_edit {
	width:400px;
	height:600px;
}

#text_0 {
	font-family:arial;
	font-size:40px;
	padding-right:150px;
	padding-left:60px;
	padding-bottom:15px;
	width:50px;
	color:#380328;
}

#text_1 {
	font-family:arial;
	font-size:20px;
	color:black;
	padding-right:200px;
	padding-left:60px;
	padding-bottom:15px;
	width:50px;
}

#text_2 {
	font-family:arial;
	font-size:20px;
	color:black;
	padding-right:200px;
	padding-left:60px;
	padding-bottom:30px;
}


#textarea {
	border:1px solid white;
	font-family:arial;
	font-size:20px;
	color:black;
	vertical-align:top;
	padding-right:150px;
	padding-left:60px;
	padding-bottom:0px;
	width:370px;
	height:200px;
}

input[type=button] {
	border:1px splid black;
	border-radius:5px;
	background-color:rgba(0,0,0,0);
	padding:3px 6px;
	margin-top:60px;
	margin-bottom:90px;
}

input[type=button]:hover {
	color:black;
	background-color:orange;
}