@charset "UTF-8";

#basic_top {
	width:100%;
	line-height:50px;
	background-color:#ffffff;
}

#text {
	font-family:Tmon몬소리;
	text-align:center;
}

#footer {
	width:100%;
	line-height:15px;
	font-family:arial;
	font-size:10px;
	text-align:center;
	background-color:#7a6a4b;
}